@font-face {
  font-family: "Prism";
  src: url("../assests/font/Tilt_Prism/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf") format("truetype");
}


/* Styling for the container */
.container {
  text-align: center;
  margin: auto;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  position: relative;
  background: #111;
  color: white;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.container::before,
.container::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(var(--angle), 
    #032146,  #C3F2FF,#007bff, #b00);
  animation: rotate 10s linear infinite;
  border-radius: 5px;
}
.container::after {
  filter: blur(10px);
  border-radius: 5px;

}
@keyframes rotate {
  0%     { --angle: 0deg; }
  100%   { --angle: 360deg;
  }
}

/* Styling for the input fields */
.input-field {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border:none;
  outline:none;
  display:block;
  color:white;
  background: #111;
  border-bottom-style:solid;
  border-bottom-color:white;
}

/* Styling for error messages */
.error {
  color: red;
}

/* Styling for buttons */
.button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px 5px;
  font-weight: bolder;
}

/* Styling for loading indicator */
.calculating {
  font-style: italic;
}

.strike{
  font-size: 3rem;
}
.nonstrikethrough{
  background-color: yellow;
  margin-left: 5px;
  font-family: 'Prism',serif;
  color: black;
}
/* Styling for struck-through characters */
.strikethrough {
  text-decoration: line-through;
  margin-left: 5px;
  font-family: 'Prism';


}

/* Styling for compatibility description */
.compatibility-description {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: smaller;
  text-align: left;
}

/* Styling for result message */
.result {
  font-weight: bold;
  margin-top: 20px;
  text-align: center
  ;
}

/* Styling for result color */
.result-E {
  color: red;
}

